<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/page.css">
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="../assets/js/chart.js"></script>
    <script src="../assets/js/script.js"></script>
    <title>e-Fanakalo</title>
</head>
<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="">
                <img src="../assets/img/logoPage - Copie.jpg" width="30" height="50"> <h1 class="title is-3" style="margin-left: .2em; margin-bottom: .2em;"> e-Fanakalo </h1>   
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
          
              <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <a class="button is-warning">
                      Log out
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <br><br><br>
    <main>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th> idObjet </th>
                        <th> idPersonne </th>
                        <th> Categorie </th>
                        <th> Prix </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 1 </td>
                        <td> 1 </td>
                        <td> Akanjo </td>
                        <td> 0000 Ar </td>
                        <td><button class="button is-success"> Valider </button></td>
                    </tr>
                </tbody>
            </table>
            <button class="button is-info js-modal-trigger" data-target="modal-js-example">
              <img src="../assets/font/chart-bar-solid.svg">
            </button>
        </div>

        <!-- eto ny modal an'ny statistique -->
        <div id="modal-js-example" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <canvas id="statistique" aria-label="chart" role="img"></canvas>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
    </main>
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>ITUniversity</strong> Projet Web <strong>32h</strong><br><br>
            Judicaël-ETU001820 & Toky-1822 & Mirindra-1826
          </p>
        </div>
    </footer>
</body>
</html>