main
{
    min-height: 70vh;
}

.item
{
    display: flex;
    justify-content: center;
}

.button
{
    width: 100%;
}

.table
{
    width: 100%;
}

.js-modal-trigger
{
    position: fixed;
    bottom: 12vh;
    right: 9vh;
    border-radius: 100%;
    width: 4%;
    height: 8%;
}