.add_btn
{
    border-radius: 100%;
    width: 3%;
    position: fixed;
    bottom: 10%;
    right: 4%;
}

.modal_subtitle
{
    display: flex;
    justify-content: center;
}

.modal_input
{
    margin-top: 1em;
}

.div_modal_btn
{
    margin-top: 1em;
}

input[type="file"]::-webkit-file-upload-button {
    display: none;
}
