main
{
    min-height: 70vh;
}

.item
{
    display: flex;
    justify-content: center;
}

.button
{
    width: 100%;
}

.table
{
    width: 100%;
}

.js-modal-trigger
{
    width: 3em;
    height: 3em;
    position: fixed;
    bottom: 10vh;
    right: 9vh;
    border-radius: 100%;
}
