<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/page.css">
    <link rel="stylesheet" href="../assets/css/myobject.css">
    <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
    <script src="../assets/js/script.js"></script>
    <title>My object</title>
</head>
<body>
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="">
                <img src="../assets/img/logoPage - Copie.jpg" width="30" height="50"> <h1 class="title is-3" style="margin-left: .2em; margin-bottom: .2em;"> e-Fanakalo </h1>   
              </a>
              <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
              </a>
            </div>
          
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item">
                      Home
                    </a>
              
                    <a class="navbar-item">
                      My object
                    </a>

                    <a class="navbar-item">
                        Proposition
                    </a>
                  </div>
                <div class="navbar-end">
                  <div class="navbar-item">
                    <div class="buttons">
                      <a class="button is-warning">
                        Log out
                      </a>
                    </div>
                  </div>
                </div>
            </div>
          </nav>
    </header>
    <br><br><br>
    <main>
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="box">
                        <p class="subtitle is-4 item"> Nom produit </p>
                        <figure class="image is-4by5">
                            <img src="../assets/img/inscription.jfif">
                        </figure>
                        <br>
                        <p class="item"> 0000 Ar </p>
                        <p class="item"> Appartient à PERSONNE </p>
                        <br>
                        <button class="button is-success"> Echanger </button>
                    </div>
                </div>
            </div>
            <button class="js-modal-trigger button is-link add_btn" data-target="modal-add-objet">
                <figure class="icon">
                    <i class="fas fa-plus"></i>
                </figure>
            </button>
        </div>
    </main>
    <div id="modal-add-objet" class="modal">
        <div class="modal-background"></div>
        <div class="modal-content">
          <div class="box">
            <p class="subtitle is-4 modal_subtitle">Add new object</p>
            <input class="input" type="text" placeholder="Object name">
            <input class="input modal_input" type="text" placeholder="Description">
            <input class="input modal_input" type="number" placeholder="Object price">
            <div class="div_modal_btn">
                <button class="button is-primary"> Ajouter </button>
            </div>
          </div>
        </div>
      
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>ITUniversity</strong> Projet Web <strong>32h</strong><br><br>
            Judicaël-ETU001820 & Toky-1822 & Mirindra-1826
          </p>
        </div>
    </footer>
</body>
</html>