<div class="columns">
    <div class="column">
        <div class="box">
            <p class="subtitle is-4 item"> Nom produit </p>
            <figure class="image">
                <img src="./assets/img/inscription.jfif">
            </figure>
            <br>
            <p class="item"> 0000 Ar </p>
            <br>
            <select class="input">
                <option value="">Choose categorie</option>
                <option value="">Akanjo</option>
                <option value="">Boky</option>
            </select>
            <br><br>
            <button class="button is-success"> Valider </button>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <p class="subtitle is-4 item"> Nom produit </p>
            <figure class="image">
                <img src="./assets/img/inscription.jfif">
            </figure>
            <br>
            <p class="item"> 0000 Ar </p>
            <br>
            <select class="input">
                <option value="">Choose categorie</option>
                <option value="">Akanjo</option>
                <option value="">Boky</option>
            </select>
            <br><br>
            <button class="button is-success"> Valider </button>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <p class="subtitle is-4 item"> Nom produit </p>
            <figure class="image">
                <img src="./assets/img/inscription.jfif">
            </figure>
            <br>
            <p class="item"> 0000 Ar </p>
            <br>
            <select class="input">
                <option value="">Choose categorie</option>
                <option value="">Akanjo</option>
                <option value="">Boky</option>
            </select>
            <br><br>
            <button class="button is-success"> Valider </button>
        </div>
    </div>
    <div class="column">
        <div class="box">
            <p class="subtitle is-4 item"> Nom produit </p>
            <figure class="image">
                <img src="./assets/img/inscription.jfif">
            </figure>
            <br>
            <p class="item"> 0000 Ar </p>
            <br>
            <select class="input">
                <option value="">Choose categorie</option>
                <option value="">Akanjo</option>
                <option value="">Boky</option>
            </select>
            <br><br>
            <button class="button is-success"> Valider </button>
        </div>
    </div>
</div>